SECRET_KEY=

# Настройки базы данных
NAME='имя_вашей_базы_данных'
USER='ваш_пользователь_базы'
PASSWORD='ваш_пароль_базы'
HOST='localhost'  # или адрес вашего сервера базы данных
PORT='5432'  # по умолчанию для PostgreSQL, измените для других СУБД

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_USE_SSL=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=


LOCATION=