SECRET_KEY=

# Настройки базы данных
DB_NAME='имя_вашей_базы_данных'
DB_USER='ваш_пользователь_базы'
DB_PASSWORD='ваш_пароль_базы'
DB_HOST='localhost'  # или адрес вашего сервера базы данных
DB_PORT='5432'  # по умолчанию для PostgreSQL, измените для других СУБД

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_USE_SSL=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=


LOCATION=